<%- include('partials/header') %>

    <div class="container mt-4" style="min-height: 60vh;">
        <h1>
            <%=heading%>
        </h1>
        <p>
            <%= aboutContent %>
        </p>
    </div>

    <%- include('partials/footer') -%>