<%- include('partials/header') -%>


    <div class="container mt-4">
        <h1>
            <%=heading%>
        </h1>
        <p>
            <%=contactContent%>
        </p>
    </div>
    <%- include('partials/footer') -%>