<%- include('partials/header') -%>

    <h2 id="dynamicblogheading">Welcome to your blog buddy..!!</h2>

    <div class="blogcontainer" id="dynamicblog">
        <div class="title">
            <%=element.posttitle%>
        </div>
        <div class="content">
            <%=element.postbody%>
        </div>
    </div>

    <%- include('partials/footer') -%>