* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar  */

.navbar {
    background-color: 	#5f4c4cc1;

    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar ul {
    display: flex;
    
}

.navbar ul li {
    list-style: none;
    margin-right: 20px;
    padding-top: 8px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    -webkit-text-stroke: 1px white;
    
}
.navbar ul li a:hover {
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.container h1 {
    font-family: sans-serif;
}

/* compose style  */

form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#composetitle {
    width: 100%;
    padding: 7px;
}

textarea {
    width: 100%;
    padding: 7px;
}

#publishbtn {
    padding: 8px;
    font-size: 16px;
    -webkit-text-stroke: 1px black;
}